{
  parser: "babel-eslint",
  extends: "airbnb",
  env: {
    "browser": true,
    "jquery": true,
  },
  rules: {
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "react/forbid-prop-types": "off",
    "react/no-did-mount-set-state": "off",
    "react/require-default-props": "off",
    "react/no-array-index-key": "off",
    "react/jsx-max-props-per-line": "off",
    "react/jsx-closing-tag-location": "off",
    "react/no-unused-state": "off",
    "react/default-props-match-prop-types": "off",
    "react/jsx-indent": "off",
    "react/no-typos": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "arrow-parens": "off",
    "no-class-assign": "off",
    "max-len": "off",
    "camelcase": "off",
    "no-case-declarations": "off",
    "no-nested-ternary": "off",
    "padded-blocks": "off",
    "prefer-destructuring": "off",
    "object-curly-newline": "off",
    "function-paren-newline": "off",
    "no-restricted-globals": "off",
    "no-return-assign": "off"
  },
  globals: {
    "_": true
  },
}
