@import '~tinykit/styles/variables';

$font-family: 'Source Sans Pro', sans-serif;
$top-bar-font-family: 'Muli', sans-serif;

$light-weight: 300;
$regular-weight: 400;
$semi-bold-weight: 600;
$bold-weight: 700;

$top-bar-height: 70px;
$side-bar-width: 100px;
$side-bar-item-height: 82px;
$side-bar-item-mobile-height: 50px;
$side-bar-item-fontsize: 0.875rem;
$side-bar-item-mobile-fontsize: 0.7rem;
$main-content-padding: 30px;
$content-padding: 20px;
$max-content-width: 1400px;
$fixed-column-width: 315px;

$small-screen: 944px;
$big-screen: $max-content-width + $side-bar-width + $main-content-padding * 2;
