$white: #ffffff;
$black: #000000;
$blue: #4861a0;
$light-blue: #cad9f0;
$light-gray: #f1f2f1;

$primary-color: #f37122;
$secondary-color: #de0067;
$primary-light-color: #f58d4e;
$primary-dark-color: #aa6236;

$background-color: #efefef;
$background-light-color: #f3f3f3;
$background-dark-color: #9e9e9e;
$text-color: #4a4a4a;
$text-light-color: #939598;
$text-xlight-color: #bbbbbb;
$text-dark-color: #333333;
$text-mute-color: #9b9b9b;
$text-mute-light-color: #505455;
$link-color: #1c94ee;
$logo-color: #e8e8e8;
$button-color: #00c468;
$button-inactive-color: #d6d5d8;
$border-color: #dcdcdc;
$border-light-color: #dadada;
$border-xlight-color: #e7e7e7;
$border-slightly-dark-color: #bbbaba;
$border-dark-color: #979797;
$dropdown-box-color: #566075;
$dropdown-separator-color: #e5e5e5;
$dropdown-item-hover-color: #f5f5f5;
$assume-banner-background-color: #fe2851;
$assume-link-color: #f0ad4e;
$assume-link-active-color: #ec971f;
$top-banner-color: #0085f6;
$chart-grey-out: #d8d8d8;
$highlight-color: #c6ffc6;

$success-color: #00c26b;
$info-color: #7f005a;
$warning-color: #ffc700;
$error-color: #ff6359;

$positive-color: $primary-color;
$negative-color: #ee3d43;
$neutral-color: #f8df66;
