@import '../colors';
@import '../variables';

:global {
  table.fixed {
    table-layout: fixed;
  }

  table.responsive {
    width: 100%;
    border-collapse: collapse;

    thead {
      th {
        font-size: 0.875rem;
        font-weight: $bold-weight;
        text-transform: uppercase;
        padding: 0.6rem 1rem 0.6rem 0;
        text-align: left;
        vertical-align: top;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    tbody {
      tr:not(:last-child) {
        border-bottom: 1px dashed $text-mute-color;
      }

      td {
        padding: 0.8rem 1rem 0.8rem 0;
        vertical-align: top;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    @media screen and (max-width: 600px) {
      thead {
        display: none;
      }

      tbody {
        td {
          display: block;
          padding: 0.6rem 0 0.6rem 0;

          &:before {
            content: attr(data-th);
            font-weight: $bold-weight;
            display: inline-block;
            width: 8rem;
          }
        }
      }
    }
  }
}
